<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HackathoneOneBite"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".explanation.ExplanationActivity8"
            android:noHistory="true"
            android:exported="false" />
        <activity
            android:name=".explanation.ExplanationActivity7"
            android:noHistory="true"
            android:exported="false" />
        <activity
            android:name=".explanation.ExplanationActivity6"
            android:noHistory="true"
            android:exported="false" />
        <activity
            android:name=".explanation.ExplanationActivity5"
            android:noHistory="true"
            android:exported="false" />
        <activity
            android:name=".explanation.ExplanationActivity4"
            android:noHistory="true"
            android:exported="false" />
        <activity
            android:name=".explanation.ExplanationActivity3"
            android:noHistory="true"
            android:exported="false" />
        <activity
            android:name=".explanation.ExplanationActivity2"
            android:noHistory="true"
            android:exported="false" />
        <activity
            android:name=".explanation.ExplanationActivity1"
            android:noHistory="true"
            android:exported="false" />
        <activity
            android:name=".main.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".MakeActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="false" />
        <activity
            android:name=".TestLoginActivity"
            android:exported="false" />
        <activity
            android:name=".main.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".main.MainFrameActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".main.fragment.Main3PostingMakingActivity"
            android:exported="false" />
        <activity
            android:name=".main.fragment.Main3PostingSelectActivity"
            android:exported="false" />
        <activity
            android:name=".main.fragment.Main3PostingRelaySearchActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".main.fragment.Main3PostingTimeActivity"
            android:exported="false" />
        <activity
            android:name=".main.fragment.Main3PostingRequestActivity"
            android:exported="false" />
        <activity
            android:name=".main.fragment.Main3PostingUploadActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".main.fragment.Main3PostingNowUploadActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>